html {
	font-family:sans-serif;
}

head {

}

body {
	margin: 0px;
}

/****************************
/header content styles
/***************************/

header {
	background-color: #727272;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	color:#FFFFFF;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	z-index:1;
}

#header_container{
	background-color: #212121;
	width: 70%;
	min-width: 300px;
	max-width: 1300px;
	height: 50px;
	margin: auto;
}

#menu_button, #logout_button {
	float: left;
	height: 50px;
	padding: 15px 10px 15px 10px;
	width: 25%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#menu_button {
	text-align: left;
}

#logout_button {
	text-align: right;
}

header h1 {
	float: left;
	height: 100%;
	margin: 0px 0px 0px 0px;
	padding: 4px 10px 0px 10px;
	text-align: center;
	width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/****************************
/main content styles
/***************************/

main {
	font-family: 'Titillium Web';
	height: 100%;
}

/****************************
/menu content styles
/***************************/

#menu {
	display: none;

}

#username {

}

#settings {

}

#settings li {

}

/****************************
/Iterators styles
/***************************/

#iterators {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	list-style-type: none;
	width: 70%;
	min-width: 300;
	background-color: #DDDDDD;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	height: 100%;
	max-width: 1300px;
}

#iterators li {
	display: inline-block;
	width: 100%;
	min-height: 100px;
	max-height: 500px;
	height: 25%;
	margin-top: 10px;
}

#iterators li:first-of-type{
	margin-top: 60px;
}

.card {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.i_menu_button {
	height: 67px;
	width: 67px;
	border-radius: 50%;
	background-color: #FFEB3B;
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);	
	position: absolute;
	top: 16.5px;
	left: -33.5px;
	/*
	top: 50%;
	left: -33.5px;
	transform: translate(0,-50%);
	*/
	float:left;
	text-align:center;
}

.i_menu_button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.i_menu_button i {
	margin: 22%;
}

.container {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	background-color:#2196F3;
}

.i_button {
	height: 100%;
	float: left;
	margin-left: 50px;
	color: #FFFFFF;
}

/****************************
/statistics modal styles
/***************************/

#statistics_modal {
	display: none;
	transition: visibility .5s;
}

.modal {
	background-color:#000000;
	background-color:rgba(0,0,0,0.4);
	height:100%;
	left:0;
	overflow: auto;
	position: fixed;
	top: 0;
	width:100%;
	z-index:2;
}

.modal_tile {
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 35px auto 0 auto;
	opacity:1;
	position:relative;
	width: 68%;
	max-width: 1280px;
	min-width: 280px;
	z-index:3;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_header {
	display: inline-block;
	height: 60px;
	width: 100%;
	padding: 10px 20px 0px 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 36px;
  vertical-align: middle;
}

.close_modal_button {
	position: absolute;
	right: -90px;
	top:10px;
	height: 67px;
	width: 67px;
	background-color: #f44336;
	border-radius:50%;
	-webkit-transition: right .5x;
					transition: right .5s;
}

.close_modal_button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.close_modal_button i {
	margin: 22%;
}


@media screen and (max-width: 720px){
	.close_modal_button{
		right:-33.5;
	}
}

.modal_content {
	padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.modal_loading {

}

.modal_cards {
	padding:0px;
	list-style-type: none;
	min-height: 100px;
	margin:0;
	overflow: hidden;
}

.modal_cards li {
	display: block;
	float: left;
	padding: 0 5px 10px 5px;
	/*width: 240px;
	/*height: 388.3px;
	height: 628.27px;
	width: 615px;
	height: 388.3px;
	*/
	width: 50%;
	min-height: 50px;  
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.card_ratio_controller {
	width:100%;
	padding-bottom: 62%;
	position: relative;
	z-index:4;
}

.card_content {
	position: absolute;
	width: 100%;
	height: 100%;
  border-radius: 5px;
  background-color: #222222;
}

@media screen and (max-width: 1000px){
	.modal_cards li {
		width: 100%;
	}
}

/****************************
/footer content styles
/***************************/

footer {

}

/****************************
/animation styles
/***************************/


/****************************
/icon styles
/***************************/

/* Rules for sizing the icon. */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }